<div class="cases-container">
  <div class="cases-header fade-in-up">
    <div class="header-content">
      <button class="btn btn-secondary" routerLink="/dashboard">Retour</button>
      <div>
        <h1>Créanciers</h1>
        <p>Gérez et suivez les créanciers en cours de recouvrement</p>
      </div>
    </div>
  </div>

  <!-- Filtres -->
  <div class="filters-section fade-in-up">
    <div class="filters-card">
      <div class="filters-header">
        <h3>Filtres et recherche</h3>
        <button class="btn btn-secondary small" (click)="resetFilters()">Réinitialiser</button>
      </div>
      
      <div class="filters-grid">
        <div class="filter-group">
          <label>Recherche</label>
          <input
            type="text"
            [(ngModel)]="filters.searchTerm"
            placeholder="Entrez le nom, prénom ou email du Créancier ..."
            (input)="applyFilters()">
        </div>
      </div>
    </div>
  </div>

  <!-- Statistiques -->
  <div class="stats-section fade-in-up" *ngIf="creditors.length >0">
    <div class="stats-grid">
      <div class="stat-card">
        <div class="stat-icon primary">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <rect x="2" y="6" width="20" height="12" rx="2" ry="2"/>
            <line x1="2" y1="10" x2="22" y2="10"/>
            <circle cx="12" cy="12" r="3"/>
          </svg>
        </div>
        <div class="stat-content">
          <div class="stat-value">{{ filteredCreditors.length }}</div>
          <div class="stat-label">Tous les créanciers</div>
        </div>
      </div>

      <div class="stat-card">
        <div class="stat-icon success">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <rect x="2" y="6" width="20" height="12" rx="2" ry="2"/>
            <line x1="2" y1="10" x2="22" y2="10"/>
            <circle cx="12" cy="12" r="3"/>
          </svg>
        </div>
        <div class="stat-content">
          <div class="stat-value">-</div>
          <div class="stat-label">créanciers actifs</div>
        </div>
      </div>

      <div class="stat-card">
        <div class="stat-icon warning">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <rect x="2" y="6" width="20" height="12" rx="2" ry="2"/>
            <line x1="2" y1="10" x2="22" y2="10"/>
            <circle cx="12" cy="12" r="3"/>
          </svg>
        </div>
        <div class="stat-content">
          <div class="stat-value">-</div>
          <div class="stat-label">créanciers inactifs</div>
        </div>
      </div>
    </div>
  </div>

   <!-- html du tiroir -->
      <!-- Drawer Profil Créancier -->
  <div class="drawer-overlay" *ngIf="showDrawer" (click)="closeDrawer()">
  <div class="drawer-content" (click)="$event.stopPropagation()">
    <div class="drawer-header">
      <h2>Détails du créancier</h2>
      <button class="drawer-close" (click)="closeDrawer()">✕</button>
    </div>

    <div class="drawer-body" *ngIf="selectedCreditor">
      <p><strong>Nom complet :</strong> {{ selectedCreditor.contactPrincipal }}</p>
      <p><strong>Raison Sociale :</strong> {{ selectedCreditor.raisonSociale }}</p>
      <p><strong>Email :</strong> {{ selectedCreditor.emailProfessionnel }}</p>
      <p><strong>Téléphone :</strong> {{ selectedCreditor.telephone }}</p>
      <p><strong>Type :</strong> {{ selectedCreditor.typeCreancier }}</p>
      <p><strong>Secteur d'activité :</strong> {{ selectedCreditor.secteurActivite }}</p>
      <p><strong>Chiffre d'affaires :</strong> {{ selectedCreditor.chiffreAffaires | number }}</p>
    </div>
  </div>
</div> 

   <!-- fin du tiroir -->

  <!-- Liste des créances -->
  <div class="cases-content fade-in-up">
    <div class="cases-list" *ngIf="filteredCreditors.length > 0; else noCases">
      <div class="list-header">
        <app-view-toggle 
          [currentView]="currentView" 
          (viewChange)="currentView = $event">
        </app-view-toggle>
      </div>
      
      <!-- Vue grille -->
      <div class="cases-grid" *ngIf="currentView === 'grid'">
        <div class="case-card" *ngFor="let item of filteredCreditors">
          <div class="case-header">
            <div class="case-info">
              <p class="debtor-name">{{ item.contactPrincipal }}</p>
              <h5>{{item.secteurActivite}}</h5>
            </div>
            <div class="case-badges">
              <span class="status-badge" >
                {{ item.typeCreancier }}
              </span>
              <span class="status-badge" >
                {{item.raisonSociale}}
              </span>
            </div>
          </div>
          <div class="case-body">
            <div class="case-amounts">
              <div class="amount-item">
                <span class="amount-label"> Email Professionnel </span>
                <span class="amount-value">{{ item.emailProfessionnel }}</span>
              </div>
              <div class="amount-item">
                <span class="amount-label">Téléphone </span>
                <span class="amount-value">{{ item.telephone }}</span>
              </div>
              <div class="amount-item">
                <span class="amount-label">Chiffre d'affaires</span>
                <span class="amount-value"> {{ item.chiffreAffaires }}</span>
              </div>
            </div>
            
            <div class="case-actions">
              <button class="btn btn-primary small" title="Voir le profil" (click)="openDrawer(item)">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                  <circle cx="12" cy="8" r="4"/>
                  <path d="M6 20c0-4 12-4 12 0"/>
                </svg> voir profil
              </button>

            </div>
          </div>
        </div>
      </div>
      
      <!-- Vue table -->
      <div class="cases-table-container" *ngIf="currentView === 'table'">
        <table class="cases-table">
          <thead>
            <tr>
              <th>Nom complet</th>
              <th>Raison Sociale</th>
              <th>Email</th>
              <th>Téléphone</th>
              <th>Type</th>
              <th>Secteur d'activite</th>
              <th>Chiffre d'affaires</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filteredCreditors" class="case-row">
              <td>{{ item.contactPrincipal }}</td>
              <td>{{ item.raisonSociale }}</td>
              <td>{{ item.emailProfessionnel }}</td>
              <td>{{ item.telephone }}</td>
              <td>{{ item.typeCreancier }}</td>
              <td>{{ item.secteurActivite }}
              <td>{{ item.chiffreAffaires }}
              </td>
              <td>
                <div class="table-actions">
                  <button class="btn btn-primary small" title="Voir le profil">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                      <circle cx="12" cy="8" r="4"/>
                      <path d="M6 20c0-4 12-4 12 0"/>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    

    <ng-template #noCases>
      <div class="no-cases">
        <svg width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1">
          <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/>
          <polyline points="14,2 14,8 20,8"/>
        </svg>
        <h3>Aucune créance trouvée</h3>
        <p>Aucune créance ne correspond aux critères sélectionnés.</p>
      </div>
    </ng-template>
  </div>
</div>
